<div class="site-blocks-cover overlay" style="background-image: url(https://i.imgur.com/DGAIWOI.png);" data-aos="fade"
   data-stellar-background-ratio="0.5">
   <div class="container">
      <div class="row align-items-center justify-content-center text-center">
         <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
            <div class="row justify-content-center mb-4">
               <div class="col-md-8 text-center">
                  <h1>WE PLAY <span class="typed-words"></span></h1>
                  <div><a href="#" class="btn btn-primary btn-md">Join Us Now</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<br></br>
<section class="content">
  <div class="container  ">
    <div class="col-md-8 offset-md-2">
      <div class="contact-form-warp">
        <div id="signup">
          <h4 class="comment-title">CREATE AN ACCOUNT</h4>
          Creating an account using this form, will automaticly create you a login for our forums. You will be able to login with the same username and password.
          <br /><Br />
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                      <div class="field"
                        <%= f.label :username %>
                        <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field">
                        <%= f.label :email %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="field">
                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
                      </div>
                    </div>

                    <%= f.hidden_field :game_id, value: 1 %>

                    <div class="col-lg-12">
                      <div class="actions" style="padding-top: 2%">
                        <%= f.submit "Sign up", class: "site-btn btn-sm centered" %>
                      </div>
                    </div>
                </div>
                  <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</section>


<script>
   var typed = new Typed('.typed-words', {
      strings: [" COUNTER-STRIKE", " APEX LEGENDS", " MINECRAFT"],
      typeSpeed: 60,
      backSpeed: 60,
      backDelay: 1000,
      startDelay: 100,
      loop: true,
      showCursor: true
   });
</script>
