<section class="content">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h4 class="comment-title">WELCOME, <%= @user&.username&.upcase %></h4>
      <% if @user.forum_primary_group_name %>
        <p>You are a <%= Rails::Html::FullSanitizer.new.sanitize(@user.forum_primary_group_name) %></p>
      <% elsif @user.forum_game_id && @user.forum_primary_group_name %>
        <p>Your main game is <%= Game.find_by(forum_game_id: @user.forum_game_id).name %></p>
      <% end %>
      <br></br>
      <% if @user.forum_game_id.present? && @user.game_id.present? %>
        <%= render "regiment", game: Game.find_by(forum_game_id: @user.forum_game_id) %>
      <% end %>
      <br></br>
      <h4 class="comment-title">YOUR EVENTS</h4>
      <%= render "events" %>
      <br></br>
      <% if @user&.forum_secondary_groups&.include?("4") %>
        <%= link_to "Clan Applications", approvals_path, class: "btn btn-info" %>
        <button type="button" class="btn btn-success">Job Applications</button>
        <button type="button" class="btn btn-danger">Resignation Requests</button>
        <button type="button" class="btn btn-warning">Admin Portal</button>
      <% elsif @user&.forum_secondary_groups&.include?("37") %>
        <%= link_to "Clan Applications", approvals_path, class: "btn btn-info" %>
        <button type="button" class="btn btn-success">Job Applications</button>
        <button type="button" class="btn btn-danger">Resignation Requests</button>
      <% end %>
      <br></br>
    </div>
  </div>
</section>
