<section class="content">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h4 class="comment-title">BRAND GUIDELINES</h4>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <%= image_tag("birdy.png", :border => 50, :alt => '', :title => '') %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" style="margin-left:11%;">
          <%= image_tag("smol_logo.png", :border => 0, :alt => '', :title => '')  %>
        </div>
      </div>
      <%= image_tag("lgrey.jpeg", :border => 0, :alt => '', :title => '') %>
      <%= image_tag("dgrey.jpeg", :border => 0, :alt => '', :title => '') %>
      <%= image_tag("orange.jpeg", :border => 0, :alt => '', :title => '') %>

    </div>
  </div>
</section>
