<div id="preloder">
  <div class="loader"></div>
</div>

<% if user_signed_in? %>
  <section class="content">
    <div class="container  ">
      <div class="col-md-8 offset-md-2">
        <h4 class="comment-title">YOU'RE LOGGED IN</h4>
          Click the button below to go to our forums. You will be able to login with the same username and password.

          <br></br>
          <button class="site-btn btn-sm"><a style="color:white;" href="https://forum.aceclan.org/">Forums</a></button>
      </div>
    </div>
  </section>
<% else %>
  <section class="content">
    <div class="container  ">
      <div class="col-md-8 offset-md-2">
        <div class="contact-form-warp">
          <h4 class="comment-title">CREATE AN ACCOUNT</h4>
          Creating an account using this form, will automaticly create you a login for our forums. You will be able to login with the same username and password.
          <br /><Br />
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                      <div class="field"
                        <%= f.label :username %>
                        <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field">
                        <%= f.label :email %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="field">
                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="actions" style="padding-top: 2%">
                        <%= f.submit "Sign up", class: "site-btn btn-sm centered" %>
                      </div>
                    </div>
                </div>
                  <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<section class="footer-top-section">
  <div class="container">
    <div class="footer-top-bg">
      <img src="" alt="">
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-logo text-white">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget mb-5 mb-md-0">
          <h4 class="fw-title">Latest Posts</h4>
          <div class="latest-blog">
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h4 class="fw-title">Top Comments</h4>
          <div class="top-comment">
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer-section">
  <div class="container">
    <ul class="footer-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="review.html">Games</a></li>
      <li><a href="categories.html">Blog</a></li>
      <li><a href="community.html">Forums</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</footer>
