<div id="preloder">
  <div class="loader"></div>
</div>

<section class="content">
  <div class="container  ">
    <div class="col-md-8 offset-md-2">
      <div class="contact-form-warp">
        <h4 class="comment-title">CREATE AN ACCOUNT</h4>
        Creating an account using this form, will automaticly create you a login for our forums. You will be able to login with the same username and password.
        <br /><Br />
          <h2>Sign up</h2>
          <div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field"
                <%= f.label :username %>
                <%= f.text_field :username %>
              </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-top-section">
  <div class="container">
    <div class="footer-top-bg">
      <img src="" alt="">
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-logo text-white">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget mb-5 mb-md-0">
          <h4 class="fw-title">Latest Posts</h4>
          <div class="latest-blog">
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h4 class="fw-title">Top Comments</h4>
          <div class="top-comment">
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer-section">
  <div class="container">
    <ul class="footer-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="review.html">Games</a></li>
      <li><a href="categories.html">Blog</a></li>
      <li><a href="community.html">Forums</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</footer>
