<!DOCTYPE html>
<html>
  <head>
    <title>AceClan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Ace Clan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header class="header-section" style="top: 0; position: fixed; width: 100%; z-index: 999;">
      <div class="container">
        <%= link_to image_tag("logo.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'site-logo' %>

        <% if user_signed_in? %>
          <button class="site-btn btn-sm" style="float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete, style: "color: #FFF;") %></button>
        <% else %>
          <button class="site-btn btn-sm" style="float: right;"><%= link_to('Login', new_user_session_path, style: "color: #FFF;") %></button>
        <% end %>
        <div class="nav-switch">
          <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
          <ul>
            <li><%= link_to "Home", main_app.root_path %></li>
            <li><%= link_to "Games", games_path %></li>
            <% Tab.all.each do |tab| %>
              <% if tab.main_tab? %>
                <li><%= link_to "#{tab.name}", tab_path(tab.id) %><li>
              <% elsif tab.sub_nav_main_tab? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= tab.name %></a>
                  <div style="z-index: 1000;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% SubTab.where(tab_id: tab.id).each do |st|  %>
                      <%= link_to "#{st.name}", subtab_path(st.id), class: "dropdown-item", style: "color:#d13b00; margin:0;" %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>


    <section class="page-footer">
      <div class="pf-content">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 text-white">
                <h4 class="comment-title">Join our forums to interact with other members, find important documentation and have some fun.</h4>
                <button class="site-btn btn-sm"><a style="color:white;" href="https://forum.aceclan.org/">Forums</a></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer top section -->
  	<section class="footer-top-section">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 col-md-12">
  					<div class="footer-logo text-white">
  						<%= link_to image_tag("birdy.png", :border => 0, :alt => '', :title => 'Birdy', :style => 'width:90%; margin: 0 auto;'), root_path, style: "width: 100%; display: block; text-align: center" %>
  						<p>AceClan.ORG was founded as a Multi-Gaming military stylised clan in March 2019 on the basis that everyone deserves a welcome and friendly atmosphere when they play games.</p>
  					</div>
  				</div>
  				<div class="col-lg-4 col-md-6">
  					<div class="footer-widget">
  						<h4 class="fw-title">COMMAND <span style="color:#FF4700;">STAFF<span></h4>
              <div class="top-comment">
                <div class="tc-item">
                  <div class="tc-content">
                    <p>CrazyShooter &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#FF4700;"><b>>></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Clan Commanding Officer</p>
                    <p>Expression93 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#FF4700;"><b>>></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Clan Executive Officer</p>
                    <p>Tremmert &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#FF4700;"><b>>></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Logistics Officer</p>
                    <p>PYXIS &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#FF4700;"><b>>></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Operations Officer</p>
                  </div>
                </div>
              </div>
  					</div>
  				</div>
  				<div class="col-lg-4 col-md-6">
  					<div class="footer-widget">
  						<h4 class="fw-title">SUPPORTED <span style="color:#FF4700;">REGIMENTS</span></h4>
  						<div class="top-comment">
  							<div class="tc-item">
  								<div class="tc-content">
  									<p><span style="color:#FF4700;"><b>>></b></span>&nbsp;Counter Strike: Global Offensive</p>
                    <p><span style="color:#FF4700;"><b>>></b></span>&nbsp;League of Legends</p>
                    <p><span style="color:#FF4700;"><b>>></b></span>&nbsp;Apex: Legends</p>
                    <p><span style="color:#FF4700;"><b>>></b></span>&nbsp;Rainbow Six: Siege</p>
                    <p><span style="color:#FF4700;"><b>>></b></span>&nbsp;Minecraft</p>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>

    <footer class="footer-section">
      <div class="container">

      </div>
    </footer>
  </body>
</html>
