<!DOCTYPE html>
<html>
  <head>
    <title>AceClan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Ace Clan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
  </head>

  <body>
    <header class="header-section" style="top: 0; position: fixed; width: 100%; z-index: 999;">
      <div class="container">
        <%= link_to image_tag("logo.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'site-logo' %>

        <% if user_signed_in? %>
          <button class="site-btn btn-sm" style="float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete, style: "color: #FFF;") %></button>
        <% else %>
          <button class="site-btn btn-sm" style="float: right;"><%= link_to('Login', new_user_session_path, style: "color: #FFF;") %></button>
        <% end %>
        <div class="nav-switch">
          <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
          <ul>
            <li><%= link_to "Home", main_app.root_path %></li>
            <li><a href="/pages/games">Games</a></li>
            <li><a href="categories.html">Blog</a></li>
            <li><a href="https://forum.aceclan.org/">Forums</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
