<!DOCTYPE html>
<html>
  <head>
    <title>AceClan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Ace Clan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
  </head>

  <body>
    <header class="header-section" style="top: 0; position: fixed; width: 100%; z-index: 999;">
      <div class="container">
        <%= link_to image_tag("logo.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'site-logo' %>

        <% if user_signed_in? %>
          <button class="site-btn btn-sm" style="float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete, style: "color: #FFF;") %></button>
        <% else %>
          <button class="site-btn btn-sm" style="float: right;"><%= link_to('Login', new_user_session_path, style: "color: #FFF;") %></button>
        <% end %>
        <div class="nav-switch">
          <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
          <ul>
            <li><%= link_to "Home", main_app.root_path %></li>
            <li><a href="/pages/games">Games</a></li>
            <li><a href="https://forum.aceclan.org/">Forums</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>


    <section class="page-footer">
      <div class="pf-content">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 text-white">
                <h4 class="comment-title">Join our forums to interact with other members, find important documentation and have some fun.</h4>
                <button class="site-btn btn-sm"><a style="color:white;" href="https://forum.aceclan.org/">Forums</a></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer top section -->
  	<section class="footer-top-section">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 col-md-12">
  					<div class="footer-logo text-white">
  						<%= link_to image_tag("birdy.png", :border => 0, :alt => '', :title => 'Birdy', :style => 'width:90%; margin: 0 auto;'), root_path, style: "width: 100%; display: block; text-align: center" %>
  						<p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
  					</div>
  				</div>
  				<div class="col-lg-4 col-md-6">
  					<div class="footer-widget">
  						<h4 class="fw-title">Useful Links</h4>
              <div class="top-comment">
                <div class="tc-item">
                  <div class="tc-content">
                    <p><a href="#">Privacy Policy</a></p>
                    <p><a href="#">Terms and Conditions</a></p>
                    <p><a href="#">Code of Conduct</a></p>
                  </div>
                </div>
              </div>
  					</div>
  				</div>
  				<div class="col-lg-4 col-md-6">
  					<div class="footer-widget">
  						<h4 class="fw-title">Fun Links</h4>
  						<div class="top-comment">
  							<div class="tc-item">
  								<div class="tc-content">
  									<p><a href="#">Discord Link</a></p>
                    <p><a href="#">Forum Link</a></p>
                    <p><a href="#">Server Links</a></p>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>

    <footer class="footer-section">
      <div class="container">
        <ul class="footer-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="review.html">Games</a></li>
          <li><a href="community.html">Forums</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </footer>

  </body>
</html>
